<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- jQuery Core -->
    <script src="uui/js/lib/jquery-1.12.0.min.js"></script>

    <!-- Bootstrap Core -->
    <link rel="stylesheet" href="uui/bootstrap/css/bootstrap.min.css"/>
    <script src="uui/bootstrap/js/bootstrap.min.js"></script>

    <!-- EPAM UUI JavaScript Core -->
    <script src="uui/js/uui-core.min.js" type="text/javascript"></script>

    <!-- EPAM UUI Styles Core -->
    <link rel="stylesheet" href="uui/css/uui-all.css"/>
    <!-- Your custom CSS Styles -->
    <link rel="stylesheet" href="uui/css/custom-styles.css"/>

    <link rel="stylesheet" href="uui/fonts/font-awesome/css/font-awesome.css"/>

    <!-- Scroll for UUI Sidebar -->
    <link rel="stylesheet" href="uui/css/lib/components/jquery.mCustomScrollbar.min.css"/>
    <script src="uui/js/lib/components/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Include elements that you need described on Getting Started page (above) -->
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="uui/js/uui/uui-rating.js"></script>
</head>
<body>
<div class="wrapper">

    <header th:replace="header :: header"></header>
    <div class="uui-main-container">
        <main>
            <div class="for_tour_search">

                <div th:if="${param.country_id}">
                    <h2 align="center" class="form-signin-heading text-primary"><span th:text="#{msg.form_for_update_country}"/></h2>
                    <div class="uui-login-panel center_form">
                        <form th:action="@{/update_country}" th:object="${country}" method="get">

                            <input type="hidden" name="country_id" th:value="${country_id}"/>

                            <span class="fa" th:text="#{msg.country}"/> <br>
                            <input type="text" class="form-control" th:field="*{name}" placeholder="Country's name" required
                                   autofocus>
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></p>

                            <div class="login-separator">
                                <div class="border">
                                    <span></span>
                                </div>

                                <div class="border">
                                    <span></span>
                                </div>
                            </div>
                            <br>
                            <div class="epam-login">
                                <button type="submit" class="uui-button large blue">
                                    <span class="fa" th:text="#{msg.update_country}"/>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div th:unless="${param.country_id}">
                    <h2 align="center" class="form-signin-heading text-primary"><span th:text="#{msg.please_add_country}"/></h2>
                    <div class="uui-login-panel center_form">
                        <form th:action="@{/add_country}" th:object="${country}" method="get">
                            <span class="fa" th:text="#{msg.country}"/> <br>
                            <input type="text" class="form-control" th:field="*{name}" placeholder="Country's name" required
                                   autofocus>
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></p>

                            <div class="login-separator">
                                <div class="border">
                                    <span></span>
                                </div>

                                <div class="border">
                                    <span></span>
                                </div>
                            </div>
                            <br>
                            <div class="epam-login">
                                <button type="submit" class="uui-button large blue">
                                    <span class="fa" th:text="#{msg.add_country}"/>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer th:replace="footer :: footer"></footer>

</div>

</body>
</html>