<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- jQuery Core -->
    <script src="uui/js/lib/jquery-1.12.0.min.js"></script>

    <!-- Bootstrap Core -->
    <link rel="stylesheet" href="uui/bootstrap/css/bootstrap.min.css"/>
    <script src="uui/bootstrap/js/bootstrap.min.js"></script>

    <!-- EPAM UUI JavaScript Core -->
    <script src="uui/js/uui-core.min.js" type="text/javascript"></script>

    <!-- EPAM UUI Styles Core -->
    <link rel="stylesheet" href="uui/css/uui-all.css"/>
    <!-- Your custom CSS Styles -->
    <link rel="stylesheet" href="uui/css/custom-styles.css"/>

    <link rel="stylesheet" href="uui/fonts/font-awesome/css/font-awesome.css"/>

    <!-- Scroll for UUI Sidebar -->
    <link rel="stylesheet" href="uui/css/lib/components/jquery.mCustomScrollbar.min.css"/>
    <script src="uui/js/lib/components/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Include elements that you need described on Getting Started page (above) -->
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="uui/js/uui/uui-rating.js"></script>
</head>
<body>
<div class="wrapper">

    <header th:replace="header :: header"></header>
    <div class="uui-main-container">
        <main>
<!--            <div th:if="${param.removed_user}">-->
<!--                <div class="alert alert-info">-->
<!--                    You've successfully removed an user!-->
<!--                </div>-->
<!--            </div>-->
<!--            <div th:if="${param.updated_user}">-->
<!--                <div class="alert alert-info">-->
<!--                    You've successfully updated an user!-->
<!--                </div>-->
<!--            </div>-->

            <h2 align="center" class="form-signin-heading text-primary"><span th:text="#{msg.all_hotels}"/>
            </h2>

            <div th:if="${!hotels.empty}">
                <br/>
                <table class="uui-table">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Hotel's name</th>
                        <th>Stars</th>
                        <th>Website</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Feature</th>
                        <th>Options</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="hotel,iterator: ${hotels}">
                        <td th:text="${iterator.index+1}"></td>
                        <td th:text="${hotel.name}"/>
                        <td th:text="${hotel.stars}"/>
                        <td th:text="${hotel.website}"/>
                        <td th:text="${hotel.latitude}"/>
                        <td th:text="${hotel.longitude}"/>
                        <td th:text="${hotel.features}"/>

                        <td><a th:href="@{/update_hotel_view(hotel_id=${hotel.id})}"
                               class="uui-button btn"><span
                                th:text="#{msg.update_hotel}"/></a><br><br>

                            <form class="form" th:action="@{/remove_hotel}" method="get">
                                <input type="hidden" name="hotel_id"  th:value="${hotel.id}"/>
                                <button type="submit" class="uui-button btn" >
                                    <span th:text="#{msg.remove_hotel}"/>
                                </button>
                            </form></td>

                    </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${users.empty}">
                <h3><span th:text="#{msg.no_reviews}"/></h3>
            </div>
        </main>
    </div>

    <footer th:replace="footer :: footer"></footer>

</div>

</body>
</html>