<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- jQuery Core -->
    <script src="uui/js/lib/jquery-1.12.0.min.js"></script>

    <!-- Bootstrap Core -->
    <link rel="stylesheet" href="uui/bootstrap/css/bootstrap.min.css"/>
    <script src="uui/bootstrap/js/bootstrap.min.js"></script>

    <!-- EPAM UUI JavaScript Core -->
    <script src="uui/js/uui-core.min.js" type="text/javascript"></script>

    <!-- EPAM UUI Styles Core -->
    <link rel="stylesheet" href="uui/css/uui-all.css"/>

    <!-- Your custom CSS Styles -->
    <link rel="stylesheet" href="uui/css/custom-styles.css"/>

    <!-- Scroll for UUI Sidebar -->
    <link rel="stylesheet" href="uui/css/lib/components/jquery.mCustomScrollbar.min.css"/>
    <script src="uui/js/lib/components/jquery.mCustomScrollbar.concat.min.js"></script>


    <!-- Include elements that you need described on Getting Started page (above) -->
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<div class="wrapper">

    <header th:replace="header :: header"></header>

    <div class="uui-main-container ">
        <main>
            <div align="center">
<!--            <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|"></h1>-->
            <h1 th:text="${exception}"></h1><br>
            <h3 th:text="${url}"></h3><br>
            <img src="uui\images\icons\no-results-responsive.png" alt=""/><br><br>
            <a class="uui-button raspberry" th:href="@{/search_tours}"><span th:text="#{msg.back_home}"></span></a>
            </div>
        </main>
    </div>

    <footer th:replace="footer :: footer"></footer>
</div>
</body>
</html>