<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- jQuery Core -->
    <script src="uui/js/lib/jquery-1.12.0.min.js"></script>

    <!-- Bootstrap Core -->
    <link rel="stylesheet" href="uui/bootstrap/css/bootstrap.min.css"/>
    <script src="uui/bootstrap/js/bootstrap.min.js"></script>

    <!-- EPAM UUI JavaScript Core -->
    <script src="uui/js/uui-core.min.js" type="text/javascript"></script>

    <!-- EPAM UUI Styles Core -->
    <link rel="stylesheet" href="uui/css/uui-all.css"/>
    <!-- Your custom CSS Styles -->
    <link rel="stylesheet" href="uui/css/custom-styles.css"/>

    <link rel="stylesheet" href="uui/fonts/font-awesome/css/font-awesome.css"/>

    <!-- Scroll for UUI Sidebar -->
    <link rel="stylesheet" href="uui/css/lib/components/jquery.mCustomScrollbar.min.css"/>
    <script src="uui/js/lib/components/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Include elements that you need described on Getting Started page (above) -->
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div class="wrapper">

    <header th:replace="header :: header"></header>

    <div class="uui-main-container">
        <main>
            <div class="uui-person-horizontal-profile blue">
                <div class="person-profile-body">
                    <div class="person-profile-section">
                        <div th:if="${param.login_success}">
                            <div class="alert alert-info">
                                You've successfully sign in to our Travel Agency as <span sec:authentication="name"/>!
                            </div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">
                                You've successfully logged out!
                            </div>
                        </div>
                        <div th:if="${param.register_success}">
                            <div class="alert alert-info">
                                You've successfully registered to our Travel Agency as <span sec:authentication="name"/>!
                            </div>
                        </div>
                        <div th:if="${param.tour_removed}">
                            <div class="alert alert-info">
                                You've successfully removed a tour!
                            </div>
                        </div>
                        <div th:if="${param.tour_updated}">
                            <div class="alert alert-info">
                                You've successfully updated a tour!
                            </div>
                        </div>
                        <h2 align="center" class="text-primary"><span th:text="#{msg.tour_search}"/></h2>

                        <form action="#" th:action="@{/search_tours}" th:object="${tourSearchForm}" method="get">
                            <table class="for_tour_search">
                                <tr>

                                    <th><span th:text="#{msg.min_cost}"/> <br>
                                        <input type="number" th:field="*{minCost}" class="uui-form-element"/><br>
                                        <p th:if="${#fields.hasErrors('minCost')}" th:errors="*{minCost}" style="color:red"></p>
                                    </th>

                                    <th><span th:text="#{msg.min_duration}"/> <br>
                                        <input type="number" th:field="*{minDuration}" class="uui-form-element"/>
                                        <p th:if="${#fields.hasErrors('minDuration')}" th:errors="*{minDuration}"
                                           style="color:red"></p>
                                    </th>
                                    <th><span th:text="#{msg.min_hotel_stars}"/> <br>
                                        <input type="number" th:field="*{minStars}" class="uui-form-element"/>
                                        <p th:if="${#fields.hasErrors('minStars')}" th:errors="*{minStars}"
                                           style="color:red"></p>
                                    </th>
                                    <th><span th:text="#{msg.start_date}"/> <br>
                                        <input type="date" th:field="*{minDate}" class="uui-form-element"/>
                                        <p th:if="${#fields.hasErrors('minDate')}" th:errors="*{minDate}"
                                           style="color:red"></p>
                                    </th>
                                    <th><span th:text="#{msg.tour_type}"/> <br>
                                        <select th:field="*{tourType}" class="selectpicker uui-form-element"/>
                                        <option selected="selected" disabled="true" value=""><span
                                                th:text="#{msg.choose_tour_type}"/></option>
                                        <option th:value="'ECONOM'" th:text="'econom'"></option>
                                        <option th:value="'ALL_INCLUSIVE'" th:text="'all inclusive'"></option>
                                        <option th:value="'ONLY_BREAKFAST'" th:text="'only breakfast'"></option>
                                        </select>
                                    </th>
                                </tr>

                                <tr>
                                    <th><span th:text="#{msg.max_cost}"/> <br>
                                        <input type="number" th:field="*{maxCost}" class="uui-form-element"/>
                                        <p th:if="${#fields.hasErrors('maxCost')}" th:errors="*{maxCost}"
                                           style="color:red"></p>
                                    </th>
                                    <th><span th:text="#{msg.max_duration}"/> <br>
                                        <input type="number" th:field="*{maxDuration}" class="uui-form-element"/>
                                        <p th:if="${#fields.hasErrors('maxDuration')}" th:errors="*{maxDuration}"
                                           style="color:red"></p>
                                    </th>
                                    <th><span th:text="#{msg.max_hotel_stars}"/> <br>
                                        <input type="number" th:field="*{maxStars}" class="uui-form-element"/>
                                        <p th:if="${#fields.hasErrors('maxStars')}" th:errors="*{maxStars}"
                                           style="color:red"></p>
                                    </th>
                                    <th><span th:text="#{msg.finish_date}"/> <br>
                                        <input type="date" th:field="*{maxDate}" class="uui-form-element"/>
                                        <p th:if="${#fields.hasErrors('maxDate')}" th:errors="*{maxDate}"
                                           style="color:red"></p>
                                    </th>
                                    <th><span th:text="#{msg.country}"/> <br>
                                        <select th:field="*{countryNames}" class="selectpicker uui-form-element">
                                            <option selected="selected" disabled="true" value=""><span
                                                    th:text="#{msg.choose_country}"/></option>
                                            <option th:each="country : ${countries}" th:value="${country.name}"
                                                    th:text="${country.name}">
                                            </option>
                                        </select>
                                    </th>

                                </tr>
                            </table>
                            <br>
                            <button class="uui-button for_tour_search dark-blue" type="submit"><span
                                    th:text="#{msg.search}"/></button>
                        </form>
                    </div>
                </div>
            </div>


            <div th:if="${!tours.empty}">
                <br/>
                <table class="uui-table">
                    <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Date</th>
                        <th>Duration</th>
                        <th>Description</th>
                        <th>Cost</th>
                        <th>Tour's type</th>
                        <th>Hotel</th>
                        <th>Country</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="tour: ${tourPage.content}">
                        <td><img th:src="${tour.photo}" alt=""/></td>
                        <td th:text="${tour.date}"/>
                        <td th:text="${tour.duration}"/>
                        <td th:text="${tour.description}"/>
                        <td th:text="${tour.cost}"/>
                        <td th:text="${tour.tour_type}"/>
                        <td><a th:href="@{/hotel(hotel_id=${tour.hotel_id.id})}"><span th:text="${tour.hotel_id.name}"/></a>
                            <br>
                            Stars: <span th:text="${tour.hotel_id.stars}"/></td>
                        <td><span th:text="${tour.country_id.name}"/> <br> <br>
                            <a th:href="@{/tour(tour_id=${tour.id})}" class="uui-button btn"><span
                                    th:text="#{msg.btn_tour}"/></a><br><br>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/remove_tour(tour_id=${tour.id})}" class="uui-button btn"><span
                                    th:text="#{msg.remove_tour}"/></a><br><br>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/update_tour_view(tour_id=${tour.id}, photo=${tour.photo}, date=${tour.date}, duration=${tour.duration}, description=${tour.description}, cost=${tour.cost})}" class="uui-button btn"><span
                                    th:text="#{msg.update_tour}"/></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div align="center">
                    <ul class="uui-pagination"
                        th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                        <li class="actions-wrapper">
                            <ul class="pagination-items">
                                <li th:class="${tourPage.number==0} ? disable" class="first-page ">
                                    <a th:href="@{${urlBuilder.replaceQueryParam('page', '1').toUriString()}}">
                                        <span th:text="#{msg.first}"/>
                                    </a>
                                </li>
                                <li th:class="${!tourPage.hasPrevious()} ? disable" class="prev-page">
                                    <a th:href="@{${urlBuilder.replaceQueryParam('page', __${currentPage-1}__).toUriString()}}">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <div th:if="${tourPage.totalPages > 0}" class="pagination"
                             th:each="pageNumber : ${pageNumbers}">
                            <li class="pages-wrapper">
                                <ul class="pagination-items">
                                    <li th:class="${pageNumber==tourPage.number + 1} ? active">
                                        <a th:href="@{${urlBuilder.replaceQueryParam('page', __${pageNumber}__).toUriString()}}"
                                           th:text=${pageNumber}></a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <li class="actions-wrapper">
                            <ul class="pagination-items">
                                <li th:class="${!tourPage.hasNext()} ? disable" class="next-page">
                                    <a th:href="@{${urlBuilder.replaceQueryParam('page', __${currentPage+1}__).toUriString()}}">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                                <li th:class="${tourPage.number==tourPage.getTotalPages()-1} ? disable"
                                    class="last-page">
                                    <a th:href="@{${urlBuilder.replaceQueryParam('page', __${lastPage}__).toUriString()}}">
                                        <span th:text="#{msg.last}"/>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <div align="center" th:if="${lastPage>5}">
                        <h6 class="dark-blue" th:text="#{msg.all_pages} + ${lastPage}"/>
                    </div>
                </div>

            </div>

            <div align="center" th:if="${tours.empty}">
                <h3><span th:text="#{msg.no_tours}"/></h3>
            </div>

        </main>

    </div>

    <footer th:replace="footer :: footer"></footer>

</div>

</body>
</html>