<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- jQuery Core -->
    <script src="uui/js/lib/jquery-1.12.0.min.js"></script>

    <!-- Bootstrap Core -->
    <link rel="stylesheet" href="uui/bootstrap/css/bootstrap.min.css"/>
    <script src="uui/bootstrap/js/bootstrap.min.js"></script>

    <!-- EPAM UUI JavaScript Core -->
    <script src="uui/js/uui-core.min.js" type="text/javascript"></script>

    <!-- EPAM UUI Styles Core -->
    <link rel="stylesheet" href="uui/css/uui-all.css"/>
    <!-- Your custom CSS Styles -->
    <link rel="stylesheet" href="uui/css/custom-styles.css"/>

    <link rel="stylesheet" href="uui/fonts/font-awesome/css/font-awesome.css"/>

    <!-- Scroll for UUI Sidebar -->
    <link rel="stylesheet" href="uui/css/lib/components/jquery.mCustomScrollbar.min.css"/>
    <script src="uui/js/lib/components/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Include elements that you need described on Getting Started page (above) -->
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div class="wrapper">

    <header th:replace="header :: header"></header>
    <div class="uui-main-container">
        <main>

            <div class="uui-person-horizontal-profile dark-blue">
                <div class="person-profile-body">
                    <div class="person-profile-section">
                        <div th:if="${param.left_review}">
                            <div class="alert alert-info">
                                You've successfully left a review!
                            </div>
                        </div>
                        <div th:if="${param.country_added}">
                            <div class="alert alert-info">
                                You've successfully added a country!
                            </div>
                        </div>
                        <div th:if="${param.hotel_added}">
                            <div class="alert alert-info">
                                You've successfully added a hotel!
                            </div>
                        </div>
                        <div th:if="${param.tour_added}">
                            <div class="alert alert-info">
                                You've successfully added a tour!
                            </div>
                        </div>
                        <div th:if="${param.admin_added}">
                            <div class="alert alert-info">
                                You've successfully added an admin!
                            </div>
                        </div>
                        <div th:if="${param.removed_user}">
                            <div class="alert alert-info">
                                You've successfully removed an user!
                            </div>
                        </div>
                        <div th:if="${param.hotel_removed}">
                            <div class="alert alert-info">
                                You've successfully removed a hotel!
                            </div>
                        </div>
                        <div th:if="${param.hotel_updated}">
                            <div class="alert alert-info">
                                You've successfully updated a hotel!
                            </div>
                        </div>
                        <div th:if="${param.country_updated}">
                            <div class="alert alert-info">
                                You've successfully updated a country!
                            </div>
                        </div>
                        <div th:if="${param.country_removed}">
                            <div class="alert alert-info">
                                You've successfully removed a country!
                            </div>
                        </div>
                        <div th:if="${param.tour_loaded}">
                            <div class="alert alert-info">
                                You've successfully loaded a tour!
                            </div>
                        </div>
                        <div th:if="${param.tour_loaded_fail}">
                            <div class="alert alert-danger">
                                Something went wrong!
                            </div>
                        </div>
                        <div th:if="${param.removed_review}">
                            <div class="alert alert-info">
                                You've successfully removed a review!
                            </div>
                        </div>
                        <div th:if="${param.updated_review}">
                            <div class="alert alert-info">
                                You've successfully updated a review!
                            </div>
                        </div>
                        <div class="person-profile-photo">
                            <img sec:authorize="hasRole('MEMBER')" src="uui/images/icons/member_icon.jpg" alt=""/>
                            <img sec:authorize="hasRole('ADMIN')" src="uui/images/icons/admin_icon.jpg" alt=""/>
                        </div>
                        <div class="person-profile-info">
                            <h2><span th:text="#{msg.y_login}"/>: <span sec:authentication="name"></span></h2>
                            <p sec:authorize="hasRole('ADMIN')"><span th:text="#{msg.admin_pf}"/></p>
                            <p sec:authorize="hasRole('MEMBER')"><span th:text="#{msg.member_pf}"/></p>
                        </div>
                    </div>
                </div>
            </div>


            <div sec:authorize="hasRole('MEMBER')">

                <section class="uui-tabs">
                    <div class="tabs-heading">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#tours">My tours</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#reviews">My reviews</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tabs-body">
                        <div class="tab-content">
                            <div id="tours" class="tab-pane active">

                                <div th:if="${!tours.empty}">
                                    <br/>
                                    <table class="uui-table">
                                        <thead>
                                        <tr>
                                            <th>Photo</th>
                                            <th>Date</th>
                                            <th>Duration</th>
                                            <th>Description</th>
                                            <th>Cost</th>
                                            <th>Tour's type</th>
                                            <th>Hotel</th>
                                            <th>Country</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="tour: ${tours}">
                                            <td><img th:src="${tour.photo}" alt=""/></td>
                                            <td th:text="${tour.date}"/>
                                            <td th:text="${tour.duration}"/>
                                            <td th:text="${tour.description}"/>
                                            <td th:text="${tour.cost}"/>
                                            <td th:text="${tour.tour_type}"/>
                                            <td><a th:href="@{/hotel(hotel_id=${tour.hotel_id.id})}"><span
                                                    th:text="${tour.hotel_id.name}"/></a>
                                                <br>
                                                Stars: <span th:text="${tour.hotel_id.stars}"/></td>
                                            <td><span th:text="${tour.country_id.name}"/> <br> <br>
                                                <a th:href="@{/tour(tour_id=${tour.id})}" class="uui-button btn"><span
                                                        th:text="#{msg.btn_tour}"/></a><br><br>
                                                <a th:href="@{/create_review_view(tour_id=${tour.id})}"
                                                   class="uui-button btn"><span
                                                        th:text="#{msg.btn_review}"/></a>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div th:if="${tours.empty}">
                                    <h3><span th:text="#{msg.no_user_tours}"/></h3>
                                </div>

                            </div>
                            <div id="reviews" class="tab-pane">

                                <div th:if="${!reviews.empty}">
                                    <br/>
                                    <table class="uui-table">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Text</th>
                                            <th>Cost</th>
                                            <th>Tour's type</th>
                                            <th>Hotel</th>
                                            <th>Country</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="review: ${reviews}">
                                            <td th:text="${review.date}"/>
                                            <td th:text="${review.text}"/>
                                            <td th:text="${review.tourID.cost}"/>
                                            <td th:text="${review.tourID.tour_type}"/>
                                            <td><a th:href="@{/hotel(hotel_id=${review.tourID.hotel_id.id})}"><span
                                                    th:text="${review.tourID.hotel_id.name}"/></a>
                                                <br>
                                                Stars: <span th:text="${review.tourID.hotel_id.stars}"/></td>
                                            <td><span th:text="${review.tourID.country_id.name}"/> <br> <br>
                                                <a th:href="@{/tour(tour_id=${review.tourID.id})}"
                                                   class="uui-button btn"><span
                                                        th:text="#{msg.btn_tour}"/></a><br><br>

                                                <form class="form" th:action="@{/remove_review}" method="post">
                                                    <input type="hidden" name="review_id" th:value="${review.id}"/>
                                                    <button type="submit" class="uui-button btn">
                                                        <span th:text="#{msg.remove_review}"/>
                                                    </button>
                                                </form>
                                                <br>

                                                <a th:href="@{/update_review_view(tour_id=${review.tourID.id}, review_id=${review.id})}"
                                                   class="uui-button btn"><span
                                                        th:text="#{msg.update_review}"/></a></td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div th:if="${reviews.empty}">
                                    <h3><span th:text="#{msg.no_reviews}"/></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div sec:authorize="hasRole('ADMIN')">
                <section class="uui-tabs">
                    <div class="tabs-heading">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#user">Manage users</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tour">Manage tours</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#hotel">Manage hotels</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#country">Manage countries</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tabs-body">
                        <div class="tab-content">

                            <div id="user" class="tab-pane active">
                                <a th:href="@{/registration}" class="uui-button btn"><span
                                        th:text="#{msg.add_admin}"/></a><br><br>
                                <a th:href="@{/view_all_users}" class="uui-button btn"><span
                                        th:text="#{msg.view_users}"/></a>
                            </div>

                            <div id="tour" class="tab-pane">
                                <a th:href="@{/add_tour_view}" class="uui-button btn"><span
                                        th:text="#{msg.add_tour}"/></a><br><br>
                                <a th:href="@{/search_tours}" class="uui-button btn"><span
                                        th:text="#{msg.view_tours}"/></a><br><br>
                                <div class=" ">
                                <form method="post" th:action="@{/upload_tour}" enctype="multipart/form-data">
                                    <h6><span th:text="#{msg.pick_file}"/></h6>
                                    <input type="file" th:name="tourUpload" size="50" class="uui-button btn"/><br>
                                    <input type="submit" value="Upload tour" class="uui-button btn"/>
                                </form>
                                </div>

                            </div>

                            <div id="hotel" class="tab-pane">
                                <a th:href="@{/add_hotel_view}" class="uui-button btn"><span
                                        th:text="#{msg.add_hotel}"/></a><br><br>
                                <a th:href="@{/view_all_hotels}" class="uui-button btn"><span
                                        th:text="#{msg.view_hotels}"/></a>
                            </div>

                            <div id="country" class="tab-pane">
                                <a th:href="@{/add_country_view}" class="uui-button btn"><span
                                        th:text="#{msg.add_country}"/></a><br><br>
                                <a th:href="@{/view_all_countries}" class="uui-button btn"><span
                                        th:text="#{msg.view_all_country}"/></a>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>

    <footer th:replace="footer :: footer"></footer>

</div>

</body>
</html>